@import "../../colors";

.loading {
  padding-top: 60px;
}

/* Carousel */
.heroContentsSection {
  padding-top: 60px;
  .carousel-inner {
    height: 80vh;
    .carousel-item {
      height: 100%;
      .carousel-caption {
        height: fit-content;
        left: 0;
        width: 50vw;
        top: 50%;
        transform: translateY(-50%);
        text-align: left;
        padding: 2rem;
        margin-left: 1rem;
        background-color: $blackTr;
        h2 {
          font-family: $title-font;
          font-size: 4rem;
        }
        .categoryLink {
          display: block;
          padding: 0.5rem;
          margin-top: 2rem;
          width: fit-content;
          text-decoration: none;
          background-color: #757575a5;
          color: $white;
          &:hover {
            background-color: $primary-color;
            color: $white;
            border: 0.1rem solid $secondary-color;
          }
        }
      }
    }
  }
}
/* Top Collection */
.topCollectionSection {
  .container-fluid {
    .row {
      .titleCol {
        margin: 1rem;
        height: 80vh;
        position: relative;
        .collectionTitleContainer {
          background-color: rgba(255, 255, 255, 0.655);
          width: 80%;
          height: 80%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          .collectionTitle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            padding: 2rem;
            h2 {
              font-weight: bold;
              font-family: $title-font;
            }
          }
        }
      }
      .imgCol {
        position: relative;
        height: 80vh;
        margin: 1rem;
        background-color: $accentBg;
        // background-color: #9b9780c1;
        h4 {
          position: absolute;
          top: 5%;
          left: 5%;
          width: 70%;
          z-index: 1;
          background-color: $blackTr;
          color: $white;
          font-family: $title-font;
          font-size: 1.3rem;
          padding: 1rem;
        }
        .topCollectionImg {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          margin: auto;
          width: 80%;
          height: 80%;
          // background-color: #c2ad9ac7;
          // background-color: rgba(255, 255, 255, 0.655);
          cursor: pointer;
        }
        .imgHover {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 100%;
          width: 100%;
          margin: auto;
          padding: 3rem;
          background-color: rgba(255, 255, 255, 0.841);
          border: 0.1rem groove $accent;
          z-index: 10;
          color: $accent;
          div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
            flex-direction: column;
            align-items: center;
            .viewMoreBtn {
              display: block;
              background-color: $blackTr;
              color: $white;
              padding: 0.6rem;
              width: 10vw;
              text-decoration: none;
              margin: 1rem;
              text-align: center;
              &:hover {
                background-color: $white;
                color: $blackTr;
                border: 0.1rem solid $accent;
              }
            }
            .closeBtn {
              background-color: $blackTr;
              color: $white;
              padding: 0.5rem;
              width: 10vw;
              margin: 1rem;
              outline: none;
              border: none;
              &:hover {
                background-color: $white;
                color: $blackTr;
                border: 0.1rem solid $accent;
              }
            }
          }
        }
      }
    }
  }
}
