/* Color Palette */

$primary-color:#212121;
$primary-hover: #056420;
$secondary-color:#757575;
$secondary-hover:#005B90;

/* Font Palette */
$main-font:sans-serif;
$sub-font:serif;
$big-fontsize:1rem;
$small-fontsize:0.8rem;